{% extends "layout.html" %}



{% block body %}
<div class="container-fluid jumbotron  text-center" style="font-size:15px;">
    <h1>RolePlay Nedir?<small class="text-muted"> Ayrıntılı anlatım</small></h1><br>
    <p style="font-size:20px">&nbsp;&nbsp;&nbsp;Role Play, oyuncuların kendilerini karakterlerine bürümesi, bir nevi oyun içerisindeki atmosfere uygun olarak tiyatro oyunu sergilemesini sağlar. Role Play yapabilmeniz için gelişmiş yeteneklere, değerli eşyalara ihtiyaç duymazsınız.</p>
</div>

{% endblock body %}

{% block title %}
Hakkımda
{% endblock title %}